<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Set to true to not show the setup control.-->
    <add key="SetupComplete" value="true" />

    <!-- Set the ConnectionString -->
    <add key="ConnectionString" value="Data Source=Zippy\SQLExpress;Initial Catalog=DataTier.Net.Database.Dev;Integrated Security=True" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>





