<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Set to true to not show the setup control.-->
    <add key="SetupComplete" value="true" />
    
    <!-- To encrypt, start the program and check 'Use Encryption' in Step 3 of the SetupControl. -->
    <add key="UseEncryption" value="false" />
    <add key="EncryptionKey" value="" />

    <!-- Set the ConnectionString -->
    <add key="ConnectionString" value="Data Source=Neidermeyer\SQLExpress;Initial Catalog=DataTier.Net.Database;Integrated Security=True" />
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>












