<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Used to not show a link to this project from this project. -->
    <add key="ApplicationBanner" value="DataTierNet" />
    <add key="StartupBanner" value ="DBCompare" />
    
    <!-- Set to true to not show the setup guide.-->
    <add key="SetupComplete" value="" />
    
    <!-- To encrypt, use the Connection String Builder located in the Tools folder. -->
    <add key="UseEncryption" value="false"/>
    <add key="EncryptionKey" value="" />

    <!-- Set the ConnectionString -->
    <add key="ConnectionString" value="" />
    
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>

