<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataJuggler.Core.UltimateHelper" version="1.6.0" targetFramework="net48" />
  <package id="DataJuggler.Net" version="6.0.5" targetFramework="net48" />
  <package id="DataJuggler.Net.Cryptography" version="1.0.0" targetFramework="net461" />
  <package id="DataJuggler.Win.Controls" version="5.6.10" targetFramework="net48" />
  <package id="Konscious.Security.Cryptography.Argon2" version="1.2.1" targetFramework="net461" />
  <package id="Konscious.Security.Cryptography.Blake2" version="1.0.9" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="XmlMirror.Runtime" version="2.2.2" targetFramework="net48" />
</packages>